* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

@media (min-width: 1200px) {
  .header-container {
    max-width: 140rem;
  }

  .hero {
    height: 100vh;
  }

  .hero-box {
    height: 85vh;
  }
}

/* 
====================
=======HEADER=======
====================
*/

nav {
  background-color: #fdf2e9;
}

.logo span {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.00001rem;
  color: #f9a109;
}

legend {
  color: #f9a109;
}

.logo:hover {
  text-decoration: none;
}

.navbar {
  padding: 1.5rem 1rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta.logout:link,
.nav-cta.logout:visited {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta.logout:hover,
.nav-cta.logout:active {
  background-color: #cf711f;
}

.main-nav-link.nav-cta:link,
.nav-cta:visited {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 9px;
  border: 1px solid #e67e22;
}

.main-nav-link.nav-cta:hover,
.nav-cta:active {
  color: #fff;
  background-color: #cf711f;
}

/* Main content */

.content {
  padding: 0;
}

/* HERO */

.hero {
  background-color: #fdf2e9;
  padding: 9rem 7rem;
}

.hero-heading {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  /* font-size: 5.2rem; */
  line-height: 1.05;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
}

.btn-get-started,
.btn-projects {
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 9px;
  transition: all 300ms;
  margin: 1rem;
  color: #fff;
}

.btn-projects {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

.btn-projects:hover {
  background: none;
  color: #0c2e8a;
  text-decoration: none;
}

.btn-get-started {
  background: #f9a109;
  border: 2px solid #f9a109;
}

.btn-get-started:hover {
  background: none;
  color: #f9a109;
  text-decoration: none;
}

/* FEATURES */

.features {
  padding: 6.4rem 0;
  color: #222;
}

.features-heading,
.about-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: #cf711f;
}

.feature-text--title {
  font-size: 3rem;
  line-height: 1.2;
  color: #333;
}

.feature-text--description {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #555;
}

/* ABOUT US */
.about {
  padding: 6.4rem 0;
  color: #222;
  background-color: #fdf2e9;
}

/* HIRES */
.hires {
  padding: 9.6rem 0;
  color: #222;
}

.hires-heading {
  color: #cf711f;
}

/* FOOTER */

.footer {
  padding: 6.4rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
}

.footer-logo span {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.00001rem;
  color: #f9a109;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-links ion-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p:first-child {
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
}

.footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

.footer a:link,
.footer a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

/* Normal state */
.btn {
  background-color: #f9fafc; /* Blue color */
  color: #141313; /* White text */
  border: solid 1px;
  border-color: #0c2453;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hover state */
.btn:hover {
  background-color: #0c2453; /* Darker blue on hover */
  color: white;
}

/* Active state */
.btn:active {
  background-color: #0c2453; /* Even darker blue on click */
}

/* h2 a {
  color: #0c2453;
}

h2 {
  color: #0c2453;
} */
h4 a {
  color: #222324;
}

.btn-sm {
  padding: 10px;
}

/* About Section
--------------------------------*/
#about {
  padding: 60px 0 30px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content h2 {
  color: #0c2e8a;
  font-weight: 700;
  font-size: 36px;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #f3f4f6;
  color: #5f687b;
  font-size: 14px;
  position: relative;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #5f687b;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #e4e6ea;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #f9a109;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #206bfb;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f9a109;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

@media (max-width: 992px) {
  #footer .copyright,
  #footer {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}
