<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1d95d16c4b.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css?{{cache_id}}" />
    <script src="../static/main.js?{{cache_id}}"></script>
    <title>Casjob</title>
  </head>
  <body>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a href="/" class="logo"><span>Casjob</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('hire') }}">Hires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('job_tank') }}">Job Tank</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('new_job_post') }}">Post a Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('account') }}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('logout') }}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('login') }}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

    <main class="content mx-auto">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>

    <footer class="footer bg-white border-top border-shadow">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="footer-logo"><span>Casjob</span></a>
            <ul class="social-links">
              <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
              <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
              <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            </ul>
            <p class="copyright">
              Copyright &copy; 2024 by Casjob, Inc. All rights reserved.
            </p>
          </div>
          <div class="col-md-3">
            <p class="footer-heading">Contact Us</p>
            <address class="contacts">
              <p>Lagos, Nigeria</p>
              <p><a href="tel:+23480-123-4567">+234 (0) 80 123 4567</a><br />
              <a href="mailto:hello@casjob.com">hello@casjob.com</a></p>
            </address>
          </div>
          <div class="col-md-2">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
              {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('account') }}">Account</a></li>
              {% else %}
              <li><a href="{{ url_for('register') }}">Create Account</a></li>
              <li><a href="{{ url_for('login') }}">Sign In</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="col-md-2">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
              <li><a href="#">About Casjob</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Privacy & Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
