{% extends "base.html" %} {% block content %}
<section class="create-job">
  <div class="create-job-box mx-auto">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <h2 class="create-job-heading mb-5 text-center">{{ legend }}</h2>
        <div class="form-group">
          {{ form.title.label(class="form-control-label create-job-label") }} {%
          if form.title.errors %} {{ form.title(class="form-control
          form-control-lg is-invalid create-job-input") }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.title(class="form-control form-control-lg
          create-job-input") }} {% endif %}
        </div>
        <div class="form-group">
          {{ form.skill_type.label(class="form-control-label create-job-label")
          }} {{ form.skill_type(class="form-control form-control-lg
          create-job-input") }}
        </div>
        <div class="form-group">
          {{ form.job_description.label(class="form-control-label
          create-job-label") }} {% if form.job_description.errors %} {{
          form.job_description(class="form-control form-control-lg is-invalid
          create-job-input") }}
          <div class="invalid-feedback">
            {% for error in form.job_description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.job_description(class="form-control form-control-lg
          create-job-input") }} {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info custom-submit-btn") }}
      </div>
    </form>
  </div>
</section>
{% endblock content %}
