{% extends 'base.html' %} {% block content %}
<section id="hero">
  <div class="hero-content" data-aos="fade-up">
    <h2>Connecting <span>casual job supply </span>with demand!</h2>
    <div>
      <a href="{{ url_for('hire') }}" class="btn-get-started scrollto">Hire</a>
      <a href="{{ url_for('job_tank') }}" class="btn-projects scrollto"
        >Get Hired</a
      >
    </div>
  </div>

  <div class="hero-slider swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="background-image: url('assets/img/hero-carousel/1.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('assets/img/hero-carousel/2.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('assets/img/hero-carousel/3.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('assets/img/hero-carousel/4.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('assets/img/hero-carousel/5.jpg')"
      ></div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="assets/img/about-img.jpg" alt="" />
        </div>

        <div class="col-lg-6 content">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
          <h3>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </h3>

          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip
              ex ea commodo consequat.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Duis aute irure dolor in
              reprehenderit in voluptate velit.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
              pariatur.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>
{% endblock content %}
