{% extends 'base.html' %} {% block content %}

<section class="hero">
  <div class="hero-box row align-items-center justify-content-center">
    <div class="hero-text-box col-md-5 px-5">
      <h1 class="hero-heading mb-3 display-3 display-md-2">
        Secure reliable assistance for household tasks
      </h1>
      <p class="hero-description mb-4">
        Connecting skilled hands, meeting needs. Find a pro and get the job done
        in no time.
      </p>
      <div class="mb-5">
        <a href="{{ url_for('hire') }}" class="btn-get-started">Hire</a>
        <a href="{{ url_for('job_tank') }}" class="btn-projects">Get Hired</a>
      </div>
    </div>
    <div class="hero-img-box col-md-5">
      <img
        src="static/images/casjob_hero_final.png"
        alt="Man working on electricity"
        class="hero-img img-fluid"
      />
    </div>
  </div>
</section>

<section class="features container px-4 px-md-0">
  <h2 class="features-heading mb-5 text-center">Features</h2>

  <div
    class="feature d-flex flex-column-reverse flex-md-row align-items-center justify-content-around mb-5"
  >
    <img
      class="feature-img col-md-5 img-thumbnail img-fluid"
      src="static/images/casjob_get_a_job.png"
    />
    <div class="feature-text col-md-5">
      <h4 class="feature-text--title mb-3">Get a Job</h4>
      <p class="feature-text--description mb-4">
        Job seekers can browse through the available job listings on Casjob to
        find positions that match their skills and preferences. The search
        functionality allows users to filter jobs based on skill type, location,
        and other criteria, enabling them to find relevant opportunities quickly
        and easily.
      </p>
    </div>
  </div>

  <div
    class="feature d-flex flex-column flex-md-row align-items-center justify-content-around mb-5"
  >
    <div class="feature-text col-md-5">
      <h4 class="feature-text--title mb-3">One-Click Hiring</h4>
      <p class="feature-text--description mb-4">
        Employers have the ability to hire registered hires with just one click.
        Once they find a suitable candidate, employers can initiate the hiring
        process directly from the candidate's profile, streamlining the hiring
        process and saving time.
      </p>
    </div>
    <img
      class="feature-img col-md-5 img-thumbnail img-fluid"
      src="static/images/casjob_one_click_hiring.png"
    />
  </div>

  <div
    class="feature d-flex flex-column-reverse flex-md-row align-items-center justify-content-around mb-5"
  >
    <img
      class="feature-img col-md-5 img-thumbnail img-fluid"
      src="static/images/casjob_post_a_job.png"
    />
    <div class="feature-text col-md-5">
      <h4 class="feature-text--title mb-3">Post a Job</h4>
      <p class="feature-text--description mb-4">
        Casjob allows users to post job listings for various short-term contract
        jobs. Users can provide detailed descriptions of the job requirements,
        including skill type, job title, job description, and contact
        information.
      </p>
    </div>
  </div>
</section>

<section class="about">
  <h2 class="about-heading text-center mb-5">About Us</h2>
  <div class="container">
    <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-around"
    >
      <div class="about-text col-md-6">
        <h3>
          Casjob is your premier destination for connecting individuals seeking
          casual employment with businesses looking to hire for short-term
          positions.
        </h3>
        <h3>
          At Casjob, we specialize in casual jobs across a variety of
          industries, including mechanics, hairdressers, web developers, and
          more. Whether you're a skilled professional looking for flexible work
          or a business in need of temporary assistance, we've got you covered.
        </h3>
        <h3>
          Join the Casjob community today and discover the perfect casual job.
        </h3>
      </div>
      <div class="col-md-4">
        <img src="static/images/b.jpg" alt="" class="about-img img-fluid" />
      </div>
    </div>
  </div>
</section>
{% endblock content %}

<!-- <h3>
  Our platform offers a range of features designed to simplify the
  casual job search process:
</h3>

<ul>
  <li>
    <i class="bi bi-check-circle"></i
    ><b>Wide Range of Opportunities:</b>
    Explore a diverse selection of casual job listings, from short-term
    gigs to freelance projects.
  </li>
  <li>
    <i class="bi bi-check-circle"></i><b>Quick and Easy Application:</b>
    Apply to casual jobs directly through our platform with just a few
    clicks, making the process seamless and efficient.
  </li>
  <li>
    <i class="bi bi-check-circle"></i><b>Post Your Skills:</b>
    Showcase your talents, skills, and availability on your personalized
    profile, attracting potential employers seeking your expertise.
  </li>
  <li>
    <i class="bi bi-check-circle"></i><b>Connect with Employers:</b>
    Communicate directly with businesses seeking casual workers,
    facilitating quick and convenient connections.
  </li>
  <li>
    <i class="bi bi-check-circle"></i><b>User-Friendly Interface:</b>
    Our intuitive platform ensures a hassle-free experience, allowing
    users to navigate and search for jobs effortlessly.
  </li>
</ul>
<p>
  Casjob is committed to empowering individuals to find casual
  employment opportunities that fit their lifestyle and schedule.
  Likewise, we strive to assist businesses in finding qualified
  candidates to meet their short-term staffing needs.<br /> -->
