{% extends "base.html" %} {% block content %}
<section class="job-info">
  <h2 class="job-heading text-center mb-4">Job Information</h2>
  <article class="col-10 col-md-5 mx-auto">
    <div class="card mb-4">
      <div class="card-body">
        <div class="media mb-3">
          <img
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}"
            class="rounded-circle"
            width="50"
            height="50"
            alt="{{ post.author.username }}"
          />
          <div class="media-body ml-3">
            <div class="article-metadata">
              <a
                class="mr-2"
                href="{{ url_for('user_job_posts', username=post.author.username) }}"
                >{{ post.author.username }}</a
              >
              <small class="text-muted"
                >{{ post.date_posted.strftime('%Y-%m-%d') }}</small
              >
              {% if post.author == current_user %}
              <div>
                <a
                  class="btn btn-outline-secondary btn-sm"
                  href="{{ url_for('update_job_post', post_id=post.id) }}"
                  >Update</a
                >
                <button
                  type="button"
                  class="btn-danger btn-sm m-1"
                  data-toggle="modal"
                  data-target="#deleteModal"
                >
                  Delete
                </button>
              </div>
              {% endif %}
            </div>
            <h2 class="article-title">{{ post.skill_type }}</h2>
            <h4 class="article-title">{{ post.title }}</h4>
            <p class="article-content">{{ post.job_description }}</p>
            {% if current_user.is_authenticated %} {% if post.author !=
            current_user %}
            <div class="form-group text-right">
              <a
                href="https://wa.me/{{ user_phone_numbers[post.author.id] }}"
                class="btn btn-outline-info custom-submit-btn"
                target="_blank"
                >Apply</a
              >
            </div>
            {% endif %} {% else %}
            <div class="alert alert-warning login-to-hire" role="alert">
              <a href="{{ url_for('login') }}" class="alert-link">Log In</a>
              or
              <a href="{{ url_for('register') }}" class="alert-link">Sign Up</a>
              to apply
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </article>
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete job?</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <form
            action="{{ url_for('delete_job_post', post_id=post.id )}}"
            method="POST"
          >
            <input class="btn-danger btn-sm m-1" type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
